body{
    background-color: rgb(51, 51, 51);
    user-select: none;
}
img{
  -webkit-user-drag: none;
}
body,html{
  margin: 0;
  padding: 0;
}
.top-dash{
  display: flex;
  flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(68, 66, 66);
    height: 30px;
}
.bottom-dash{
    position: fixed;
    bottom: 0;
    opacity: 20%;
    /* left: 0; */
    right: 0;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    border-top-left-radius: 20px;
    background-color: rgb(31, 31, 31);
}
.bottom-dash:hover{
  opacity: 100%;
}
.top-dash .lan{
  width: fit-content;
  padding:6px;
  /* text-align: center; */
  color: rgb(116, 116, 116);
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(60, 60, 77);
}
.top-dash .prg-con{
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
.top-dash .run{
  margin-right: 10px;
}
.top-dash .io{
  padding: 5px;
  margin-left: 50px;
  background-color: rgb(114, 114, 114);
}
.quesnu{
    height: 100px;
    width: 200px;
    float: right;
    margin-right: 110px;
    overflow-y: scroll;
}
.numbers{
    margin: 2px;
    padding: 2px;
    border-radius: 20%;
    width: 20px;
    border-color: rgb(124, 124, 124);
    /* border-color: #7bd41a; */
    /* border-color: #7e47ff; */
    border-width: 2px;
    border-style: double;
    text-align: center;
    color:rgb(143, 119, 112);
    display: inline-block;
}
canvas{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(75, 75, 75, 0);
}

/* scroll bar design */
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  ::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
  }
  .qa {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 30px;
    overflow-y: scroll;
    background-color: rgb(77, 77, 77);
  }
  .qa .headi {
      color: rgb(175, 175, 175);
  }
  .qa .crd {
      width: fit-content;
      padding: 10px;
      margin: 10px;
      border-radius: 20px;
      font-family: 'Source Code Pro', monospace;
      font-weight: 800;
      color: rgb(143, 138, 138);
      background-color: rgb(59, 59, 59);
  }
  .io{
    margin: 10px;
    padding: 10px;
    padding-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    width: fit-content;
  }
  .io h3{
    margin: 0;
    color: rgb(32, 6, 6);
  }
  .io .flx{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: flex-start;
    background-color: rgb(44, 44, 44);
  }
  .io .crd{
    /* margin:10px; */
    min-width: 250px;
    width: fit-content;
  }
  .io .headi{
    /* height: 30px; */
    padding-left: 10px;
    color: black;
    font-weight: 600;
    /* border-radius: 10px; */
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    /* background-color: #576e3e; */
    width: fit-content;
    /* padding-right: 10px; */
  }
  .qa p{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    margin: 10px;
  }
  /* .answers .flx{
    padding: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: fit-content;
    display:flex;
    background-color: rgb(59, 59, 59);
  }

  .answers .rdbtn{
      padding: 5px;
      width: fit-content;
      height: fit-content;
      border-radius: 50%;
      border-width: 2px;
      border-style: double;
      border-color: slategrey;
  }
  .anstxt{
      margin-left: 10px;
      color: rgb(163, 163, 163);
  } */
  .exe{
    position: fixed;
    right: 0;
    bottom: 0;
    top: 30px;
    /* margin-top: 30px; */
    width: 40%;
    min-width: 200px;
    background-color: rgb(29, 21, 59);
  }
  .exe .slide{
    position: absolute;
    left: 0;
    height: 100%;
    width: 10px;
    cursor:col-resize;
    background-color: rgb(56, 49, 39);
  }
  .exe .crd{
    margin-left: 10px;
  }
  .prblm{
    background-color: rgb(71, 71, 71);
  }
  .hljs{
    background-color: transparent;
  }
